div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: blue;
    padding: 10px;
    border: 15px solid red;
}

.dua {
    background-color: blanchedalmond;
    padding: 30px;
    border: 5px dashed black;

}