/* ini sama seperti font, yang mana dapat disingkat. tapi sangat jarang digunakkan */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
}

.item {
    width: 100%;
    background-color: rgb(138, 209, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}

.item:nth-child(even) {
    background-color: rgb(255, 142, 142);
}