/* grid template area adalah untuk medefiniskan nama dari area yang ditulis pada property grid-area pada item */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'header header header'
        'sidebar sidebar sidebar'
        'content content content'
        'footer footer footer'
    ;
}

.item {
    width: 100%;
    background-color: rgb(138, 209, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}

/* 
.item:nth-child(even) {
    background-color: rgb(255, 142, 142);
} */

.header {
    grid-area: header;
    background-color: blueviolet;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(142, 219, 135);
}

.content {
    grid-area: content;
    background-color: rgb(226, 208, 43);
}

.footer {
    grid-area: footer;
    background-color: rgb(226, 43, 43);
}

/* Responsive Breakpoints */
@media screen and (min-width: 576px) {
    .container {
        grid-template-areas:
            'header header header'
            'sidebar content content'
            'sidebar content content'
            'footer footer footer'
        ;
    }
}