div {
    width: 400px;
    height: 400px;
    background-color: salmon;
    /*border : searah jarum jam 50% 0% 0% 50%*/
    /* border bisa % dan px */
    border-radius: 50% 0% 50% 50%;
    text-align: center;
    line-height: 400px;
    overflow: hidden;
}

div img {
    width: 400px;
}